<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Run multiple classes">
  <test thread-count="5" name="Sequence Test">
    <classes>
      <class name="multipleclasstestngexecution.Login"/>
      <class name="multipleclasstestngexecution.DashBoard"/>
      <class name="multipleclasstestngexecution.Profile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
